[submodule "rte-rrtmgp"]
	path = rte-rrtmgp
	url = https://github.com/earth-system-radiation/rte-rrtmgp
[submodule "rrtmgp-data"]
	path = rrtmgp-data
	url = https://github.com/earth-system-radiation/rrtmgp-data
